
.root {
    width: 100%;    
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.banner > div {

}  

.banner img {
    height: 280px;
}